.section {
  margin-bottom: 20px;
}

.two-columns {
  column-count: 2;
  column-gap: 40px;
}

h5 {
  text-align: center;
  margin: 25px;
  font-weight: bolder;
}

h6 {
  font-style: italic;
  text-align: center;
  margin: 15px;
}

#rv {
  font-size: 20px;
  // font-weight: bolder;
}

.fas {
  text-align: center;
  color: black;
  font-size: 25px;
}

.edit-button {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

#edit-button {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 15px;
}

#edit-button:hover {
  background: linear-gradient(rgba(255,232,55,1), rgba(255,232,55,0));
}

.send {
  display: flex;
  justify-content: center;
}

.send-button {
  border: #d3d3d3 solid 1px;
  padding: 10px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 4px;
  margin: 15px;
}

.send-button:hover {
  background: linear-gradient(rgba(255,232,55,1), rgba(255,232,55,0));
  border: none;
}

.hidden {
  display: none;
}






