// Specific CSS for your home-page

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}


.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  text-align: center;
  h1 {
    transition: all 1s ease-in-out;
  }
  h1:hover {
    // font-weight: bolder;
    transform: scale(1.2);
    // border: 2px #F0F465 solid;
    // box-shadow: 0 0 17px red;
    // -webkit-text-stroke: 1px #EB2000;
    // color: #E4D601;
    text-shadow: 0 0 10px #EB2000;
  }
}

