// Specific CSS for your home-page

a {
  text-decoration: none;
  color: white;
  transition: background 0.5s ease;
}

a:hover {
  text-decoration: none;
  color: white;
  h1 {
    font-weight: bold;
    // border: 2px #F0F465 solid;
    // box-shadow: 0 0 17px red;
    -webkit-text-stroke: 1px red;
    color: white;
    text-shadow: 0 0 27px red;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  text-align: center;
}

