
<div class="home-text">
  <%= link_to pieces_path do %>
    <h1 class="text-centered">Roger Vilder</h1>
    <p>"Since potentially everything exists, creating is discovering and making visible or manifest what is latent."</p>
  <% end %>
</div>
