
<div class="home-text container-fluid plus-navbar">
  <%= link_to pieces_path do %>
    <%= image_tag "logo.png" %>
    <h1 class="text-centered">Roger Vilder</h1>
    <p><%= t('home.catchphrase') %></p>
  <% end %>
</div>

