.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  // max-width: 500px;
  // max-height: 500px;
  padding: 10px;
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.card-image {
  max-width: 440px;
  max-height: 440px;
}

.card-details {
  margin-top: 7px;
  font-weight: lighter;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  position: relative;
  margin: 15px;
}

.card-category > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
