.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  // background: transparent;
  // transition: background-color 0.1s linear;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.plus-navbar {
  margin-top: 90px;
}

.anchor {
  position: relative;
  top: -90px;
}

.navbar-contact,
.navbar-pieces {
  display: flex;
  justify-content: center;
}

